## Twitter lists

In [4]:
# project leaders
df = hugo.df_participants()
df_project_leader = hugo.df_field('project_leader')['title']
df_merge = df.merge(df_project_leader)[['title','twitter']]
print(" ".join(df_merge['twitter'].apply(lambda x: "@{0}".format(x))))
df_merge

@bsd_daemon @vdbaan @calderpwn @gr4ybeard @doukkalli @ @psiinon @manicode @botflowking @ @bkimminich @sebadele @ihackforfun @commjoenie @DinisCruz

                     title      twitter
0            Sven Schleier   bsd_daemon
1      Steven van der Baan       vdbaan
2         Paulino Calderon    calderpwn
3               John Dileo    gr4ybeard
4        Azzeddine Ramrami    doukkalli
5              Bart De Win
6           Simon Bennetts      psiinon
7               Jim Manico     manicode
8          Adrian Winckles  botflowking
9          Felipe Zipitria
10        Bjoern Kimminich   bkimminich
11  Sebastien Deleersnyder     sebadele
12          Steven Wierckx  ihackforfun
13        Jeroen Willemsen   commjoenie
14              Dinis Cruz    DinisCruz

In [3]:
# chapter leaders
df = hugo.df_participants()
df_project_leader = hugo.df_field('chapter_leader')['title']
df_merge = df.merge(df_project_leader)[['title','twitter']]
print(" ".join(df_merge['twitter'].apply(lambda x: "@{0}".format(x))))
df_merge

@info_sec_girl @calderpwn @gr4ybeard @doukkalli @ @botflowking @ALL_Sec_geek @ @securestep9 @sebadele

                    title        twitter
0           Lauren Chiesa  info_sec_girl
1        Paulino Calderon      calderpwn
2              John Dileo      gr4ybeard
3       Azzeddine Ramrami      doukkalli
4             Bart De Win
5         Adrian Winckles    botflowking
6             Andra Lezza   ALL_Sec_geek
7         Felipe Zipitria
8           Sam Stepanyan    securestep9
9  Sebastien Deleersnyder       sebadele